<h1>Weather App</h1>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field hintLabel="City Name" appearance="outline">
      <mat-label>Enter location Name</mat-label>
      <input matInput type="text" formControlName="location">
    </mat-form-field>
  </form>
</div>
<div class="row" *ngIf="show">
  <div class="col">
    Temperature is {{this.temp}} &deg; C
  </div>
  <div class="col">
    Weather is {{this.weather}}
  </div>
  <div class="col">
    Wind is {{this.wind}}
  </div>
  <div class="col">
    Description : {{this.desc}}
  </div>
</div>