h1{
  text-align: center;
  font-family: cursive;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

form{
  mat-label{
    font-family: cursive;
  }
  mat-form-field{
    font-family: cursive;
  }
  input{
    font-family: cursive;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

.row{
  
  .col{
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
  }
}